<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/style/style.css}">
<title>Insert title here</title>
</head>
<body>

	<div th:replace="fragments/nav :: nav-admin"></div>
	<form class="text-center border border-light p-5"
		th:action="@{/admin/pages/edit}" th:object="${pages}"
		method="post">


		<h1>Categories Adding Page</h1>

		<p th:if="${message}" th:class="${'alert '+ alertClass}"
			th:text="${message}"></p>
		<input type="hidden" th:value="${pages.id}" th:field="*{id}">
 		<h5 style="text-align: left;">Pages Name</h5>
		<input type="text" class="form-control mb-4"
			placeholder="Category Name" th:field="*{name}" th:value="${pages.name}"> <span
			class="error" th:if="${#fields.hasErrors('name')}"
			th:errors="*{name}"></span>

		<button class="btn btn-primary" style="float: right;" type="submit">Edit</button>

	</form>
	<!-- Default form login -->
	<div th:replace="fragments/footer"></div>
</body>
</html>